#jumbo {
  background-image: url(https://img.freepik.com/premium-photo/clouds-sky-sunny-day_111959-123.jpg);
  background-size: cover;
  color: white;
}

.toHide {
  display: none;
  pointer-events: none;
  z-index: -1;
}
